<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<p>
  Open Graph Scraper
</p>
<div>
  <mat-form-field>
    <input matInput placeholder="URL" [(ngModel)]="url">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="OpenGrap(url)">Consultar</button>
</div>
<mat-card *ngIf="ogsB">
  <mat-grid-list cols="2">
    <mat-grid-tile [style.border-right]="'0 none #fff'">
      <img mat-card-image src="{{ogs.ogImage.url}}" alt="Img" [ngStyle]="{'max-width': '50%'}">
    </mat-grid-tile>
    <mat-grid-tile [style.border-right]="'0 dashed #fff'">
      <div fxLayout="column">
        <h5>{{ogs.ogTitle}}</h5>
        <h6>{{ogs.ogDescription}}</h6>
        {{ogs.ogUrl}}
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<div>
  <br>
</div>
<mat-card *ngIf="ogsB">
    <mat-list>
      <mat-list-item>
        <img mat-list-avatar src="{{ogs.ogImage.url}}" alt="Img" [ngStyle]="{'border-radius': '0px', 'width': '60px', 'height': '60px'}">
        <h4 mat-line>{{ogs.ogTitle}}</h4>
        <h5 mat-line>{{ogs.ogDescription}}</h5>
        <h6 mat-line>{{ogs.ogUrl}}</h6>
      </mat-list-item>
    </mat-list>
  </mat-card>
