<mat-toolbar color="primary">
  <a href="/">
    <span>{{title}}</span>
  </a>
  <span class="spacer"></span>
  <div *ngIf="!authService.isAuthenticated(); else loggedin" routerLink="/login">
    <button mat-icon-button fxflex="10">
      <mat-icon>lock_open</mat-icon>
    </button>
  </div>
  <ng-template #loggedin>
    <mat-list>
      <mat-list-item>
        <img mat-list-avatar [src]="photoURL()" alt="img">
        <h5 mat-line>
          <span>{{userName()}}</span>
        </h5>
      </mat-list-item>
    </mat-list>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
      <a mat-menu-item (click)="onLogout()">
        <mat-icon class="logout">lock_outline</mat-icon>
        <span>Logout</span>
      </a>
    </mat-menu>
  </ng-template>
</mat-toolbar>
<mat-toolbar-row class="menu-bar; colorFondo">
  <button mat-button [mat-menu-trigger-for]="menuImportacion">
    Importación
  </button>
  <button mat-button [mat-menu-trigger-for]="menuRenderizado">
    Renderizado
  </button>
  <button mat-button [mat-menu-trigger-for]="menuDatosGraficos">
    Datos gráficos
  </button>
</mat-toolbar-row>
<mat-menu [overlapTrigger]="false" #menuImportacion="matMenu">
  <button mat-menu-item *ngFor="let import of importacion" [routerLink]="import.url">
    {{ import.text }}
  </button>
</mat-menu>
<mat-menu [overlapTrigger]="false" #menuRenderizado="matMenu">
  <button mat-menu-item *ngFor="let render of renderizacion" [routerLink]="render.url">
    {{ render.text }}
  </button>
</mat-menu>
<mat-menu [overlapTrigger]="false" #menuDatosGraficos="matMenu">
  <button mat-menu-item *ngFor="let grafica of graficos" [routerLink]="grafica.url">
    {{ grafica.text }}
  </button>
</mat-menu>
<mat-card>
  <router-outlet></router-outlet>
</mat-card>
