<p>
  Dynamic Chart
</p>
<mat-card>
  <div class="col-md-6">

    <canvas baseChart
                [data]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
  </div>
</mat-card>
<mat-card>
  <div class="col-md-6">
    <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
  </div>
</mat-card>
<div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
  <button (click)="randomizeType()" style="display: inline-block">Toggle</button>
</div>
