<p>
  ng2-file works!
</p>
<!-- Angular Dropzone Wrapper -->
<div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="auto">
  <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="auto">
    <mat-card>
      <input type="file" mat-raised-button color="primary" accept=".csv" (change)="convertFile($event)" (cancel)="onUploadError($event)"/>
    </mat-card>
  </div>

  <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
    <mat-card>
      <dropzone [config]="config" [message]="'Haga clic arrastra el archivo csv_prueba.csv para importar los datos'" (error)="onUploadError($event)" (success)="convertFileDropZone($event)"></dropzone>
      <br>
      <button mat-raised-button color="primary" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='resetDropzoneUploads()'>Restablecer área de carga</button>
    </mat-card>
  </div>
</div>

<!-- Tabla-->
<mat-card>
  <div class="table-container mat-elevation-z8">
    <!-- Filtro -->
    <div class="sort-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
    </div>
    <!-- Tabla -->
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Columna Código -->
      <ng-container matColumnDef="col_0">
          <mat-header-cell *matHeaderCellDef mat-sort-header> col_0 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.col_0}} </mat-cell>
        </ng-container>
      <!-- Columna Código -->
      <ng-container matColumnDef="col_1">
        <mat-header-cell *matHeaderCellDef mat-sort-header> col_1 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.col_1}} </mat-cell>
      </ng-container>
      <!-- Columna Nombre -->
      <ng-container matColumnDef="col_2">
        <mat-header-cell *matHeaderCellDef mat-sort-header> col_2 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.col_2}} </mat-cell>
      </ng-container>
      <!-- Columna Esquema de tasa de interés -->
      <ng-container matColumnDef="col_3">
        <mat-header-cell *matHeaderCellDef mat-sort-header> col_3 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.col_3}}</mat-cell>
      </ng-container>
      <!-- Column Moneda -->
      <ng-container matColumnDef="col_4">
        <mat-header-cell *matHeaderCellDef mat-sort-header> col_4 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.col_4}} </mat-cell>
      </ng-container>
      <!-- Column Apertura -->
      <ng-container matColumnDef="col_5">
        <mat-header-cell *matHeaderCellDef mat-sort-header> col_5 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.col_5}} </mat-cell>
      </ng-container>
      <!-- Column Monto min. cta. -->
      <ng-container matColumnDef="col_6">
        <mat-header-cell *matHeaderCellDef mat-sort-header> col_6 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.col_6}} </mat-cell>
      </ng-container>
      <!-- Column Tipo de producto -->
      <ng-container matColumnDef="col_7">
        <mat-header-cell *matHeaderCellDef mat-sort-header> col_7 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.col_7}} </mat-cell>
      </ng-container>
      <!-- Column Tipo de producto -->
      <ng-container matColumnDef="col_8">
        <mat-header-cell *matHeaderCellDef mat-sort-header> col_7 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.col_8}} </mat-cell>
      </ng-container>
      <!-- Encabezados -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- Paginación -->
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" >
    </mat-paginator>
  </div>
</mat-card>
