.action-container,
.content-container {
  position: relative;

  overflow: auto;
  height: 300px;
  min-height: 0;
  padding: 16px;
  margin: 8px 16px;
  border-radius: 4px;

  background-color: #fff;
}

.vertical-container,
.horizontal-container {
  min-height: 0 !important;
}
