mat-card {
  width: 400px;
  // height: 540px;
  // Height with Anonymous login:
  //height: 710px;
  margin: 100px auto;
}

mat-progress-bar {
  margin-top: -21px;
}

mat-spinner {
  width: 100px;
  height: 100px;
  margin: 20px auto 0 auto;
  z-index: 5;
}

.full-width {
  width: 100%;
}

.button {
  display: grid;
  margin-top: 0px;
}

.button:hover {
  color:#ccc ;
}
