<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<p>
  interaccion-redes-sociales works!
</p>
<mat-card>
  <h3>Inicio de sesión por medio de redes sociales</h3>
  <form (ngSubmit)="onSignInGoogle(g)" #g="ngForm">
    <mat-card-actions class="button">
      <!-- mat-raised-button class="primary" -->
      <button class="btn btn-block btn-social btn-google" type="submit" [disabled]="!g.valid">
        <span class="fa fa-google"></span>
        Iniciar sesión con cuenta de Google
      </button>
    </mat-card-actions>
  </form>
  <form (ngSubmit)="onSignInTwitter(t)" #t="ngForm">
    <mat-card-actions class="button">
      <button class="btn btn-block btn-social btn-twitter" type="submit" [disabled]="!t.valid">
        <span class="fa fa-twitter"></span>
        Iniciar sesión con cuenta de Twitter
      </button>
    </mat-card-actions>
  </form>
  <form (ngSubmit)="onSignInFacebook(fb)" #fb="ngForm">
    <mat-card-actions class="button">
      <button class="btn btn-block btn-social btn-facebook" type="submit" [disabled]="!fb.valid">
        <span class="fa fa-facebook"></span>
        Iniciar sesión con cuenta de Facebook</button>
    </mat-card-actions>
  </form>
</mat-card>
